/**
 * This file provides styling for the admin pages
 */

.ui-admin a .icon svg path {
    fill: #337ab7 !important;
}

.ui-admin a:hover .icon svg path,
.ui-admin a:focus .icon svg path {
    fill: #23527c !important;
}

#config__manager select,
#config__manager textarea,
#config__manager input:not([type="checkbox"]) {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;    
}

#config__manager legend {
    width: auto;
    margin-bottom: 0px;
    font-size: initial;
    line-height: initial;
    color: #333;
    border: 0;
    border-bottom: none;
}

#config__manager .label {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: left;
    white-space: normal;
}


#config__manager td.label {
    display: table-cell;
    border-radius: none;
}
#config__manager label {
    max-width: none;
    margin-bottom: 0;
    font-weight: initial;
}

#config__manager .table {
    min-height: initial;
    overflow-x: initial;
}

#config__manager > .inline {
    width: initial;
    max-width: initial;
    margin-bottom: initial;
    border: initial;
}
