/**
 * This file provides some basic global styling
 */

h1, h2, h3, h4, h5, h6 {
    clear: left; /* some floats break, apparently */
}

/* I do like the styling of the lists in the default theme */

ul {
    list-style: square outside;
}

.dokuwiki .page ul li,
.dokuwiki .aside ul li {
    color: #999;
}

.dokuwiki .page li .li,
.dokuwiki .aside li .li {
    color: #333;
}
