/**
* This file provides the main design styles for the page content.
*/


/* Links
 ******************************************************************************/
.wikilink2, 
.wikilink2:visited, 
.wikilink2:hover, 
.wikilink2:focus {
    color: #c8102e;
}


/* Images
 ******************************************************************************/
img.media {
    max-width: 100%;
}


/* Tables
 ******************************************************************************
 * Tables are styled as if the following bootstrap classes were applied:
 * .table.table-bordered.table-condensed.table-hover, all wrapped in a 
 * div with the class .table-responsive.
 */


@media print {
    .table > .inline {
        border-collapse: collapse !important;
    }
    .table > .inline td,
    .table > .inline th {
        background-color: #fff !important;
    }
    .table > .inline th,
    .table > .inline td {
        border: 1px solid #ddd !important;
    }
}

.table {
    min-height: .01%;
    overflow-x: auto;
}

.table > .inline {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.table > .inline > thead > tr > th,
.table > .inline > tbody > tr > th,
.table > .inline > tfoot > tr > th,
.table > .inline > thead > tr > td,
.table > .inline > tbody > tr > td,
.table > .inline > tfoot > tr > td {
    padding: 5px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 1px solid #ddd;
}

.table > .inline > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table > .inline > thead > tr > td {
    border-bottom-width: 2px;
}

.table > .inline > tbody > tr:hover {
    background-color: #f5f5f5;
}

.table > .inline > caption + thead > tr:first-child > th,
.table > .inline > colgroup + thead > tr:first-child > th,
.table > .inline > thead:first-child > tr:first-child > th,
.table > .inline > caption + thead > tr:first-child > td,
.table > .inline > colgroup + thead > tr:first-child > td,
.table > .inline > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table > .inline > tbody + tbody {
    border-top: 2px solid #ddd;
}

.table > .inline table {
    background-color: #fff;
}

@media screen and (max-width: 767px) {
    .table {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }

    .table > .inline {
        margin-bottom: 0;
    }

    .table > .inline > thead > tr > th,
    .table > .inline > tbody > tr > th,
    .table > .inline > tfoot > tr > th,
    .table > .inline > thead > tr > td,
    .table > .inline > tbody > tr > td,
    .table > .inline > tfoot > tr > td {
        white-space: nowrap;
    }

    .table > .inline {
        border: 0;
    }

    .table > .inline > thead > tr > th:first-child,
    .table > .inline > tbody > tr > th:first-child,
    .table > .inline > tfoot > tr > th:first-child,
    .table > .inline > thead > tr > td:first-child,
    .table > .inline > tbody > tr > td:first-child,
    .table > .inline > tfoot > tr > td:first-child {
        border-left: 0;
    }

    .table > .inline > thead > tr > th:last-child,
    .table > .inline > tbody > tr > th:last-child,
    .table > .inline > tfoot > tr > th:last-child,
    .table > .inline > thead > tr > td:last-child,
    .table > .inline > tbody > tr > td:last-child,
    .table > .inline > tfoot > tr > td:last-child {
        border-right: 0;
    }

    .table > .inline > tbody > tr:last-child > th,
    .table > .inline > tfoot > tr:last-child > th,
    .table > .inline > tbody > tr:last-child > td,
    .table > .inline > tfoot > tr:last-child > td {
        border-bottom: 0;
    }
}
