/**
 * This file provides styling for the editor
 */


/* Toolbar
 ******************************************************************************
 * Should be compatible with a bootstrap .btn-group.btn-group-sm.
 * Buttons are styled in buttons.css
 */

.editBox .toolbar.group {
    margin-bottom: 5px;
}

.editBox .tool__bar {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.editBox .tool__bar > .toolbutton {
    position: relative;
    float: left;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.editBox .tool__bar > .toolbutton:hover,
.editBox .tool__bar > .toolbutton:focus,
.editBox .tool__bar > .toolbutton:active {
    z-index: 2;
}

.editBox .tool__bar > .toolbutton + .toolbutton {
    margin-left: -1px;
}

.editBox .tool__bar > .toolbutton:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.editBox .tool__bar > .toolbutton:first-child {
    margin-left: 0;
}

.editBox .tool__bar > .toolbutton:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.editBox .tool__bar > .toolbutton:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* Toolbar "Pop-outs"
 ******************************************************************************
 */

#link__wiz {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

div.picker {
    background: white;
    width: 19.7em;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

div.picker button {
    border-radius: 0;
    padding: 2px;
    min-width: 1.7em;
}

div.picker button:hover,
div.picker button:focus {
    border-radius: 4px;
}


/* Form controls
 ******************************************************************************
 * Some additional styles for the form controls. Main styling is done in 
 * form-controls.css
 */

/* Custom styling for the textarea */
.editBox textarea#wiki__text {
    resize: vertical;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Bitstream Vera Sans Mono","Nimbus Mono L",Monaco,"Courier New",monospace;
}

/* Custom styling for the commit message input */
.editBox input#edit__summary {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
}

/* Custom styling for the commit message form labels */
#wiki__editbar label {
    margin-bottom: 0;
}
