/**
 * This file provides styling for form controls. 

 * It styles all button-elements like bootstrap .btn-default buttons. 
 *
 * It also styles some specific buttons look as .btn-primary:
 * - the "save" button of the edit form
 * - the "compare" button on the revisions page
 * - the "search" button on the search page
 * - the "save" button on the config page
 *
 * It makes some specific form fields look like bootstrap .form-control fields:
 * - The textarea of the edit form
 * - The "commit message" field of the edit form
 * - The query field of the search page
 */


/* Bootstrap .btn definitions 
 ******************************************************************************/

button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

button:focus,
button:active:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

button:hover,
button:focus {
    color: #333;
    text-decoration: none;
}

button:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

button[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}


/* Bootstrap .btn-default definitions 
 ******************************************************************************/

button {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

button:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

button:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

button:active:hover,
button:active:focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

button:active {
    background-image: none;
}

button[disabled]:hover,
button[disabled]:focus {
    background-color: #fff;
    border-color: #ccc;
}


/* Bootstrap .btn-primary definitions  
 ******************************************************************************/

#config__manager button[type="submit"],
.search-results-form button[type="submit"],
.editBox .editButtons > button#edbtn__save,
#page__revisions button[type="submit"] {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

#config__manager button[type="submit"]:focus,
.search-results-form button[type="submit"]:focus,
.editBox .editButtons > button#edbtn__save:focus,
#page__revisions button[type="submit"]:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

#config__manager button[type="submit"]:hover,
.search-results-form button[type="submit"]:hover,
.editBox .editButtons > button#edbtn__save:hover,
#page__revisions button[type="submit"]:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

#config__manager button[type="submit"]:active,
.search-results-form button[type="submit"]:active,
.editBox .editButtons > button#edbtn__save:active,
#page__revisions button[type="submit"]:active {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

#config__manager button[type="submit"]:active:hover,
#config__manager button[type="submit"]:active:focus
.search-results-form button[type="submit"]:active:hover,
.search-results-form button[type="submit"]:active:focus,
.editBox .editButtons > button#edbtn__save:active:hover,
.editBox .editButtons > button#edbtn__save:active:focus,
#page__revisions button[type="submit"]:active:hover,
#page__revisions button[type="submit"]:active:focus {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

#config__manager button[type="submit"]:active,
.search-results-form button[type="submit"]:active,
.editBox .editButtons > button#edbtn__save:active,
#page__revisions button[type="submit"]:active {
    background-image: none;
}

#config__manager button[type="submit"][disabled]:hover,
#config__manager button[type="submit"][disabled]:focus,
.search-results-form button[type="submit"][disabled]:hover,
.search-results-form button[type="submit"][disabled]:focus,
.editBox .editButtons > button#edbtn__save[disabled]:hover,
.editBox .editButtons > button#edbtn__save[disabled]:focus,
#page__revisions button[type="submit"][disabled]:hover,
#page__revisions button[type="submit"][disabled]:focus {
    background-color: #337ab7;
    border-color: #2e6da4;
}



/* Bootstrap .form-control definitions 
 ******************************************************************************/

.search-results-form fieldset.search-form input[type="text"],
.editBox input#edit__summary,
.editBox textarea#wiki__text {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 15px;
}

.search-results-form fieldset.search-form input[type="text"]:focus,
.editBox input#edit__summary:focus,
.editBox textarea#wiki__text:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.search-results-form fieldset.search-form input[type="text"]::-moz-placeholder,
.editBox input#edit__summary::-moz-placeholder,
.editBox textarea#wiki__text::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.search-results-form fieldset.search-form input[type="text"]:-ms-input-placeholder,
.editBox input#edit__summary:-ms-input-placeholder,
.editBox textarea#wiki__text:-ms-input-placeholder {
    color: #999;
}

.search-results-form fieldset.search-form input[type="text"]::-webkit-input-placeholder,
.editBox input#edit__summary::-webkit-input-placeholder,
.editBox textarea#wiki__text::-webkit-input-placeholder {
    color: #999;
}

.editBox input#edit__summary::-ms-expand,
.editBox textarea#wiki__text::-ms-expand {
    background-color: transparent;
    border: 0;
}

.search-results-form fieldset.search-form input[type="text"][disabled],
.search-results-form fieldset.search-form input[type="text"][readonly],
.editBox input#edit__summary[disabled],
.editBox input#edit__summary[readonly],
.editBox textarea#wiki__text[disabled],
.editBox textarea#wiki__text[readonly] {
    background-color: #eee;
    opacity: 1;
}

.search-results-form fieldset.search-form input[type="text"][disabled],
.editBox input#edit__summary[disabled],
.editBox textarea#wiki__text[disabled] {
    cursor: not-allowed;
}

/* Textarea only */
.editBox textarea#wiki__text {
    height: auto;
}
