/**
 * This file provides styling overrides for various objects.
 */


/* Miscelaneous styles
 ******************************************************************************/

/* Buttons with SVG icons */
.btn > svg {
    width: 1.2em;
    vertical-align: middle;
}


/* Fix some lists */
.dokuwiki ul.idx {
    padding: 0 0 0 1.5em; /* magic number, borrowed from dokuwiki default template, otherwise sitemap breaks */
}


/* Floating section edit buttons */
.dokuwiki .secedit {
    margin-top: -.5em;
}

.dokuwiki .secedit button {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* Back to top button */
.dw_top {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
    background: white;
    font-size: 85%;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-top-left-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}


/* For some reason, jQuery UI dialogs don't have a close button */
.ui-dialog-titlebar-close::before {
    content: "×";
}

/* Some plugins are stubborn :( */
.btn.dw_menuitem {
    display: inline-block !important;
}

/* Reset navbar buttons */
nav.navbar-cover button {
    font-size: inherit;
    line-height: inherit;
}

nav.navbar-cover button:hover,
nav.navbar-cover button:focus,
nav.navbar-cover button:active {
    background: transparent;
}

/* Allow for links in dropdown headers (Loggedin as…) */
nav.navbar-cover li.dropdown-header a, 
nav.navbar-cover li.dropdown-header a:visited {
    display: inline-block;
    background: none;
    text-decoration: none;
    padding-left: 0;
}

nav.navbar-cover li.dropdown-header a:hover,
nav.navbar-cover li.dropdown-header a:focus {
    background: none;
    text-decoration: underline;
}

@media (max-width: 767px) {
    nav.navbar-cover .dropdown ul {
        margin-top: 0;
    }

    nav.navbar-cover li.dropdown-header a {
        width: auto !important;
    }

    nav.navbar-cover li.dropdown-header a:hover,
    nav.navbar-cover li.dropdown-header a:focus {
        background: transparent !important;
        text-decoration: underline;
    }
}


/* Layout
 ******************************************************************************/


/* Some pages should be narrower, as they contain mostly text */
@media (min-width: 768px) {
    .mode_index .container-wiki,
    .mode_search .container-wiki,
    .mode_backlink .container-wiki,
    .mode_show .container-wiki {
        max-width: 750px;
    }
}


/* Page header (.page-header is used by bootstap, so be carefull to not override too much) */
#dokuwiki__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

#dokuwiki__header .breadcrumbs {
    font-size: 85%;
    color: #999;
}

#dokuwiki__header .breadcrumbs span {
    color: #333;
}

#dokuwiki__header .tools {
    align-self: flex-end;
}

@media (min-width: 768px) {
    #dokuwiki__header {
        flex-direction: row;
    }

    #dokuwiki__header .tools {
        align-self: auto;
    }
}


/* Page footer */
.page-footer {
    padding-top: 9px;
    margin: 20px 0 40px;
    border-top: 1px solid #eee;
}

.page-footer .doc {
    text-align: right;
    font-size: 85%;
}


/* Table of contents
 * Note: dokuwiki rendering has been overriden for this
 */

.toc {
    margin-top: -20px; /* We're right beneath another page header, but only sometimes */
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.toc h3.toc-header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.toc h3.toc-header a,
.toc h3.toc-header a:visited,
.toc h3.toc-header a:hover,
.toc h3.toc-header a:focus {
    display: inline-block;
    width: 100%;
    padding: 9px 0;
    color: #333;
    text-decoration: none;
}

.toc .toc-contents ul {
    margin-bottom: 0;
    padding-left: 1em;
    list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="1.32mm" height="1.87mm" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 1.2 1.7"><g><rect style="fill:rgb(153,153,153);" transform="matrix(0.000179815 0.000179815 -0.000179815 0.000179815 0.6 -1.96976E-07)" width="3336.7599" height="3336.7599"/></g></svg>');
}

.toc .toc-contents > ul {
    margin-bottom: 9px;
}

@media (min-width: 768px) {
    .toc {
        float: right;
        margin: 0 0 20px 20px;
        min-width: 15em;
        padding-left: 15px;
        border-left: 1px solid #eee;
        border-bottom-left-radius: 4px;
    }
}


/* Pages
 ******************************************************************************/

/* Mediamanager manages to uses .panel elements, which are special in boostrap*/
#mediamanager__page .panel {
    margin-bottom: 0;
    background-color: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* Search form has some weird behaviour */
.search-results-form fieldset.search-form {
    vertical-align: center;
    border-radius: 4px;
}

.search-results-form fieldset.search-form input[type="text"]{
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    margin-right: .5em;
}


/* Sitemap does an animation to show the current page, but it breaks */
#index__tree ul {
    position: relative;
}

#index__tree .curid a {
    font-weight: normal;
}


/* Revisions page */
#page__revisions ul {
    padding-left: 0;
}

