/**
 * This file provides styling for the search form in the navbar
 */


/* Search bar */
nav.navbar-cover form#dw__search {
    position: absolute;
    top: 0;
    right: 3.5rem;
    display: block;
    font-size: 16px;
    vertical-align: top;
    box-sizing: border-box;
}

nav.navbar-cover form#dw__search input {
    padding: 0 0;
    width: 0;
    background: #dadada;
    border: none;
    outline: none;
    color: #222;
    transition-property: width, padding;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
    transition-delay: 1s;
}

nav.navbar-cover form#dw__search button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1.1rem;
    border: none;
    color: inherit;
    font-size: 0;
    background: none;
    border-radius: none;
    outline: none;
    transition: color 0.15s ease-out 1s;
}

nav.navbar-cover form#dw__search button:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

nav.navbar-cover form#dw__search.immediate button,
nav.navbar-cover form#dw__search.immediate input {
    transition-delay: 0s;
}

nav.navbar-cover form#dw__search.script button,
nav.navbar-cover form#dw__search.script input {
    transition-duration: 0s;
    transition-delay: 0s;
}

nav.navbar-cover form#dw__search button::before {
    content: "";
    font-family:'FontAwesome';
    color: inherit;
    font-size: initial;
    vertical-align: middle;
}

nav.navbar-cover form#dw__search:not(.collapsed) input,
nav.navbar-cover form#dw__search:hover input {
    width: 15em;
    padding: 0 1.1rem;
    transition-delay: 0s;
}

nav.navbar-cover form#dw__search:not(.collapsed) button,
nav.navbar-cover form#dw__search:hover button {
    color: #222;
    transition-delay: 0s;
}

nav.navbar-cover form#dw__search:not(.collapsed) #qsearch__out,
nav.navbar-cover form#dw__search:hover #qsearch__out {
    display: none;
}

@media (min-width: 768px) {
    nav.navbar-cover form#dw__search {
        float: right;
        position: relative;
        top: 0;
        right: 0;
        display: inline-block;
        line-height: inherit;
        height: 64px;
    }
}

/*
 * Boostrap dropdown
 */

nav.navbar-cover form#dw__search #qsearch__out {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

nav.navbar-cover form#dw__search #qsearch__out.pull-right {
    right: 0;
    left: auto;
}

nav.navbar-cover form#dw__search #qsearch__out .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

nav.navbar-cover form#dw__search #qsearch__out li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

nav.navbar-cover form#dw__search #qsearch__out li a:hover,
nav.navbar-cover form#dw__search #qsearch__out li a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}


nav.navbar-cover form#dw__search #qsearch__out strong {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
}


/*
 * custom overrides
 */

nav.navbar-cover form#dw__search #qsearch__out {
    line-height: initial;
    max-width: 100%;
    width: 100%;
}

nav.navbar-cover form#dw__search #qsearch__out strong {
    font-weight: normal;
}

nav.navbar-cover form#dw__search #qsearch__out strong,
nav.navbar-cover form#dw__search #qsearch__out li a {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
